@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div data-ng-controller="indexViewModel" class="SearchBox col-xs-12 col-sm-12 col-md-12 col-lg-12 hide-horiz-scrollbar">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ topic }}</h1>
            <h2>Author: <b>{{ author }}</b></h2>
            <p class="lead">This site brings together two great platforms for web development.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Index page cshtml</h2>
            <p>
                Main Content of Index page 1354.plop.
            </p>
        </div>

    </div>
</div>